
@{
    ViewBag.Title = "Task4";
}
<link href="~/Content/mystyle.css" rel="stylesheet" />
<div id="searcharea">
    <label for="search">live search</label>
    <p>Enter the name or info about a speaker</p>
    <input type="search" name="search" id="search" placeholder="name or info" />
</div>
<div id="update"></div>
<script src="~/Scripts/stscript.js"></script>